<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- 
	Hibernate configuration file. Things configured:
	 - SQL dialect
	 - list of OR mappings
 -->

<hibernate-configuration>
	<session-factory>

		<!-- 
			Properties
		-->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>

		<!--
			OR mappings
		-->
		<mapping resource="org/rup/game/database/model/BaseDomainObject.hbn.xml" />
		<mapping resource="org/rup/game/database/model/Question.hbn.xml" />
		<mapping resource="org/rup/game/database/model/Subject.hbn.xml" />

	</session-factory>
</hibernate-configuration>