body * {
	color: rgb(59,89,152);
	font-family: tahoma, arial, helvetica;
	font-size: 10pt;
}

h2 {
	font-size: 1.1em;
}

code {
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
}

.form_row {
	padding: 3px;
}

.form_row label {
	float: left;
	width: 10em;
}

.subject {
	font-weight: bold;
}

.question {
	font-weight: bold;
	padding: 12px 2px 4px 2px;
}

#certificate_container {
	width: 1000px;
	margin: auto;
}

#certificate {

}

#certificate h1 {
	font-size: 3em;
}

#certificate table td.label {
	width: 8em;
}

#certificate table strong {
	font-size: 1.5em;
}

.box {
	width: 350px;
	clear: right;
	float: right;
	border: 1px #000000 dashed;
	padding: 10px;
	margin: 10px;
	background-color: #fff9e0;
}

.box * {
	font-size: 9pt;
}

hr {
	color: silver;
	border-color: silver;
}