<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!--  MMBAdmintool application properties -->
	<bean class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="application"/>
	</bean>

	<!-- 
	**************************************
		DATABASE CONFIGURATION
	**************************************
	 -->

	<!-- Import database access layer configuration -->
	<import resource="classpath:dbConfig.xml"/>

	<!-- Declare transaction management -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
    	<tx:attributes>
			<!-- 
				Transaction demarcation:
					- read-only FALSE: admintool updates the rules
					- isolation DEFAULT : no other module updates this database (Oracle does not support READ_UNCOMMITED)
					- propagation REQUIRED: update a rule within one transaction
			 -->
    		<tx:method name="*"
				read-only="false"
				isolation="DEFAULT"
				propagation="REQUIRED"/>
    	</tx:attributes>
    </tx:advice>

	<!-- 
	**************************************
		APPLICATION CONFIGURATION
	**************************************
	 -->
	 
	 
	 
</beans>
